<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基础表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/css/admin.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/treegrid/jquery.treegrid.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$type}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="">
                            <a href="{:U('Menu/add')}" class="btn btn-primary ">新增部门</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>部门名称</th>
                                <th>部门人员</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>


                            <tr class="treegrid-1">
                                <td>Root node</td><td>Additional info</td>
                                <td>
                                    <if condition="in_array($v['id'],array(0))">
                                        <a class="btn btn-default btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <elseif condition="$v['pid'] eq 0"/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <else/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">添加子菜单</a>
                                        <a href="{:U('edit',array('id' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">编辑菜单</a>
                                        <a href="javascript:void(0)"
                                           attr-message="删除"
                                           class="btn btn-primary btn-rounded" id="zzcms-delete"
                                           attr-id="{$v['id']}">删除菜单
                                        </a>
                                    </if>
                                </td>
                            </tr>
                            <tr class="treegrid-2 treegrid-parent-1">
                                <td>Node 1-1</td><td>Additional info</td>
                                <td>
                                    <if condition="in_array($v['id'],array(0))">
                                        <a class="btn btn-default btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <elseif condition="$v['pid'] eq 0"/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <else/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">添加子菜单</a>
                                        <a href="{:U('edit',array('id' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">编辑菜单</a>
                                        <a href="javascript:void(0)"
                                           attr-message="删除"
                                           class="btn btn-primary btn-rounded" id="zzcms-delete"
                                           attr-id="{$v['id']}">删除菜单
                                        </a>
                                    </if>
                                </td>
                            </tr>
                            <tr class="treegrid-3 treegrid-parent-1">
                                <td>Node 1-2</td><td>Additional info</td>
                                <td>
                                    <if condition="in_array($v['id'],array(0))">
                                        <a class="btn btn-default btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <elseif condition="$v['pid'] eq 0"/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <else/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">添加子菜单</a>
                                        <a href="{:U('edit',array('id' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">编辑菜单</a>
                                        <a href="javascript:void(0)"
                                           attr-message="删除"
                                           class="btn btn-primary btn-rounded" id="zzcms-delete"
                                           attr-id="{$v['id']}">删除菜单
                                        </a>
                                    </if>
                                </td>
                            </tr>
                            <tr class="treegrid-4 treegrid-parent-3">
                                <td>Node 1-2-1</td><td>Additional info</td>
                                <td>
                                    <if condition="in_array($v['id'],array(0))">
                                        <a class="btn btn-default btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <elseif condition="$v['pid'] eq 0"/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">增加子菜单</a>
                                        <a class="btn btn-default btn-rounded">编辑菜单</a>
                                        <a class="btn btn-default btn-rounded">删除菜单</a>
                                        <else/>
                                        <a href="{:U('add',array('pid' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">添加子菜单</a>
                                        <a href="{:U('edit',array('id' => $v['id']))}"
                                           class="btn btn-primary btn-rounded">编辑菜单</a>
                                        <a href="javascript:void(0)"
                                           attr-message="删除"
                                           class="btn btn-primary btn-rounded" id="zzcms-delete"
                                           attr-id="{$v['id']}">删除菜单
                                        </a>
                                    </if>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            {$page}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/js/plugins/treegrid/jquery.treegrid.js"></script>
<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $('.table').treegrid();
    var SCOPE = {
        'add_url': '/admin.php?c=menu&a=add',
        'edit_url': '/admin.php?c=menu&a=edit',
        'delete_url': '{:U("Menu/del")}',
        'listorder_url': '/admin.php?c=menu&a=listorder',

    };
</script>
</body>

</html>
