<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$type}
                    </h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" id="submit-menu">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">请选择站点</label>

                            <div class="col-sm-10">
                                <select class="form-control m-b" id="webid" name="webid">
                                    <option value="0">请选择</option>
                                    <foreach name="websitearray" item="v">
                                        <option value="{$v.id}">{$v.websiteurl}</option>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键词</label>

                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="websitename">
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>查询价格</strong>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">价格</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label">第一页(元/天)</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label">第二页(元/天)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">百度</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">360</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">谷歌</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜狗</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手机百度</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">神马</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">必应</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" value="{$id}" name="userid">
                                <button class="btn btn-primary" type="button" id="button-add">添加关键字</button>
                                <button class="btn btn-white" type="button" id="button-cancal">取消返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
<!--<script src="__PUBLIC__/js/admin/common.js"></script>-->
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
    $("#button-add").click(function () {
        var data = $("#submit-menu").serializeArray();
        postData = {};

        $(data).each(function (i) {
            if (this.name == 'platformid') {

                if (postData['platformid'] == null || postData['platformid'] == 'undefined') {

                    postData[this.name] = this.value;
                } else {

                    postData[this.name] = postData[this.name] + "," + this.value;
                }
            } else {

                postData[this.name] = this.value;
            }
        })
        console.log(postData);
        //将获取到德数据post给服务器
        url = '{:U("add")}';
        $.post(url, postData, function (result) {
            if (result.status == 1) {
                //成功
                return dialog.success(result.message, result.url);
            } else if (result.status == 0) {
                //失败
                return dialog.error(result.message);
            }
        }, "JSON");
    });
    $("#button-cancal").click(function () {
        window.location.href = '{:U("ListInfo")}'
    })
</script>
</body>

</html>
