<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$type}
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="">
                            <a href="{:U('ListInfo',array('userid'=>$userid,'p'=>$_SESSION['zzcms_userlistinfo_page'],'pageSize'=>$_SESSION['zzcms_userlistinfo_pagesize']))}" class="btn btn-primary ">返回</a>
                        </div>
                    </div>
                    <form class="form-horizontal" id="submit-menu">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">站点名称</label>

                            <div class="col-sm-10">
                                <p class="form-control-static">{$websiteurl}</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键词</label>

                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="keyword" value="{$keyword}">
                                </div>
                                <!--<div class="col-sm-1">-->
                                    <!--<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" id="button-search"><strong>查询价格</strong>-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">搜索引擎</label>

                            <div class="col-sm-10">
                                <foreach name="platform" item="v">
                                    <label class="checkbox-inline i-checks">
                                        <div class="icheckbox_square-green" style="position: relative;">
                                            <input name="platformid" type="checkbox" value="{$v.id}"
                                                   style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper"
                                                 style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                        {$v.platformname}
                                    </label>
                                </foreach>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <!--<input type="hidden" value="{$id}" name="id">-->
                                <input type="hidden" value="{$userid}" name="userid">
                                <input type="hidden" value="{$webid}" name="webid" id="webid">
                                <input type="hidden" value="{$keyword}" name="keywordold">
                                <button class="btn btn-primary" type="button" id="button-add">添加关键字</button>
                                <button class="btn btn-white" type="button" id="button-cancal">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
<!--<script src="__PUBLIC__/js/admin/common.js"></script>-->
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
    $("#button-add").click(function () {

        var keyword = $('input[name = "keyword"]').val();
        var webid=$("#webid").val();


        if(!keyword){
            dialog.error('请填写要查询关键词');
            return;
        }


        var data = $("#submit-menu").serializeArray();
        postData = {};

        $(data).each(function (i) {
            if (this.name == 'platformid') {

                if (postData['platformid'] == null || postData['platformid'] == 'undefined') {

                    postData[this.name] = this.value;
                } else {

                    postData[this.name] = postData[this.name] + "," + this.value;
                }
            } else {

                postData[this.name] = this.value;
            }
        })
        console.log(postData);
        //将获取到德数据post给服务器
        url = '{:U("AddKeyword")}';
        $.post(url, postData, function (result) {
            if (result.status == 1) {
                //成功
                return dialog.success(result.message, result.url);
            } else if (result.status == 0) {
                //失败
                return dialog.error(result.message);
            }
        }, "JSON");
    });
    $("#button-cancal").click(function () {
        document.getElementById("submit-menu").reset();
    })
</script>
</body>

</html>
