<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基础表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/css/admin.css" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/treegrid/jquery.treegrid.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{$type}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>

                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="">
                            <a href="{:U('UserAdmin',array('p'=>$_SESSION['zzcms_useradmin_page'],'pageSize'=>$_SESSION['zzcms_useradmin_pagesize']))}" class="btn btn-primary ">返回</a>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchname" name="searchname">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="button-search">搜索
                                        </button>
                            </span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>网站名称</th>
                                <th>网站域名</th>
                                <th>关键词数</th>
                                <th>管理关键词</th>
                                <th>搜索引擎</th>
                                <th>余额</th>
                                <th>总充值</th>
                                <th>查看扣费详情</th>
                                <th>创建日期</th>
                                <!--<th>状态</th>-->
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name='listinfo' item='v'>
                                <tr>
                                    <td>{$key+1}</td>
                                    <td>{$v[0].username}</td>
                                    <td>{$v[0].websitename}</td>
                                    <td>
                                        {$v[0].websiteurl}
                                    </td>
                                    <td>{$v[0].keywordnumber}</td>
                                    <td><a href="{:U('ListInfo',array('userid'=>$v[0]['userid']))}">查看详情</a></td>
                                    <td>{$v[0].platformname}</td>
                                    <td>{$v.balance}</td>
                                    <td>{$v[0].recharge}</td>
                                    <td><a href="{:U('CostDetail',array('userid'=>$v[0]['userid']))}">查看详情</a></td>
                                    <td>{$v[0].createtime}</td>
                                    <td>
                                        <a href="{:U('edit',array('id' => $v[0]['userid']))}"
                                           class="btn btn-primary btn-rounded">修改</a>
                                        <a href="{:U('recharge',array('id' => $v[0]['userid']))}"
                                           class="btn btn-primary btn-rounded">续费</a>
                                        <a href="javascript:void(0)"
                                           attr-message="删除"
                                           class="btn btn-primary btn-rounded" id="zzcms-delete"
                                           attr-id="{$v[0]['userid']}">删除</a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <div class="text-center">
                            {$page}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/js/plugins/treegrid/jquery.treegrid.js"></script>
<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/js/dialog.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(document).ready(function () {
        $('.table').treegrid({
            'initialState': 'collapsed',
        });
    });
    var SCOPE = {
        'delete_url': '{:U("del")}',

    };

    $("#button-search").click(function () {

        var searchname = $("#searchname").val();

        if (searchname == null) {
            dialog.error('请填写关键词');
            return;
        }
        postData = {};
        postData['searchname'] = searchname;

        console.log(postData);
        //将获取到德数据post给服务器
        url = '{:U("SearchByName")}';
        $.post(url, postData, function (result) {
            if (result.status == 1) {
                //成功
                return dialog.success(result.message, result.url);
            } else if (result.status == 0) {
                //失败
                return dialog.error(result.message);
            }
        }, "JSON");
    });

</script>
</body>

</html>
